asttokens
backcall
blosc2
colorama
contourpy
cycler
Cython
decorator
exceptiongroup
executing
fonttools
importlib-resources
ipython
jedi
kiwisolver
matplotlib
matplotlib-inline
msgpack
numexpr
numpy
packaging
pandas
parso
pickleshare
Pillow
prompt-toolkit
pure-eval
py-cpuinfo
Pygments
pyparsing
python-dateutil
pytz
six
stack-data
tables
traitlets
typing_extensions
tzdata
wcwidth
zipp
